{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "warn",
    "no-underscore-dangle": 0,
    "class-methods-use-this": "off"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": ["airbnb", "airbnb/hooks", "prettier"]
}
